<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MassDefectDatabase"
         connectionString="data source=TIHOMIRDIMOV-PC\SQLEXPRESS;
                        initial catalog=MassDefectDatabase;
                        integrated security=True;
                        MultipleActiveResultSets=True;
                        App=EntityFramework;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>